{% extends "header.html" %}
{% block body %}
  
  <style>
  #sliders {
    float: left;
    clear: left;
  }
  #red, #green, #blue {
    width: 300px;
    margin: 15px;
    float: left;
    clear: left;
  }
  #inred, #ingreen, #inblue {
    width: 50px;
    margin-top: 10px;
    float: right;
    clear: right;
  }
  #swatch {
    width: 120px;
    height: 100px;
    margin-top: 16px;
    margin-left: 450px;
    background-image: none;
  }
  #red .ui-slider-range { background: #ef2929; }
  #red .ui-slider-handle { border-color: #ef2929; }
  #green .ui-slider-range { background: #8ae234; }
  #green .ui-slider-handle { border-color: #8ae234; }
  #blue .ui-slider-range { background: #729fcf; }
  #blue .ui-slider-handle { border-color: #729fcf; }
  </style>
  <script>
  function hexFromRGB(r, g, b) {
    var hex = [
      r.toString( 16 ),
      g.toString( 16 ),
      b.toString( 16 )
    ];
    $.each( hex, function( nr, val ) {
      if ( val.length === 1 ) {
        hex[ nr ] = "0" + val;
      }
    });
    return hex.join( "" ).toUpperCase();
  }
  function refreshSwatch() {
    var red = $( "#red" ).slider( "value" ),
      green = $( "#green" ).slider( "value" ),
      blue = $( "#blue" ).slider( "value" ),
      hex = hexFromRGB( red, green, blue );
    $( "#swatch" ).css( "background-color", "#" + hex );
    $( "#inred" )[0].value = red;
    $( "#ingreen" )[0].value = green;
    $( "#inblue" )[0].value = blue;
  }
  function refreshSlider() {
    var red = $( "#inred" )[0].value,
      green = $( "#ingreen" )[0].value,
      blue = $( "#inblue" )[0].value;
    if (red > 255) red = 255;
    if (green > 255) green = 255;
    if (blue > 255) blue = 255;
    if (red < 0) red = 0;
    if (green < 0) green = 0;
    if (blue < 0) blue = 0;
    $( "#red" ).slider( "value", red );
    $( "#green" ).slider( "value", green );
    $( "#blue" ).slider( "value", blue );
  }
  $(function() {
    $( "#red, #green, #blue" ).slider({
      orientation: "horizontal",
      range: "min",
      max: 255,
      value: 127,
      change: refreshSwatch
    });
    $( "#inred, #ingreen, #inblue" ).change(refreshSlider);
    $( "#red" ).slider( "value", 0 );
    $( "#green" ).slider( "value", 0 );
    $( "#blue" ).slider( "value", 0 );
  });
  </script>
</head>

<div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading" id="glava">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <b><span class="pozdrav1">Izbira barve</span></b>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div id="sliders" class="col-lg-5 col-md-6 col-sm-8">
                                <div id="red"></div>
                                <input type="number" name="red" id="inred" value="0">
                                <div id="green"></div>
                                <input type="number" name="green" id="ingreen" value="0">
                                <div id="blue"></div>
                                <input type="number" name="blue" id="inblue" value="0">
                            </div>
                            <div id="swatch" class="ui-widget-content ui-corner-all"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
